.header { 
    background-color: #666;  height: 70px; 
    background: -webkit-linear-gradient(left, #040709, #1e3242) !important;
    background: linear-gradient(to right, #040709, #1e3242) !important;
    padding: 0px 30px;
}
.header ul li { float: left; }
.header ul li a { color: white; margin: 0px 0px 0px 50px; line-height: 70px; font-weight: 600; text-transform: uppercase; letter-spacing: 4px; }
.header ul .logo { position: relative; top: 5px; }
svg {
    display: block;
    float: left;
    height: 40px;
    color: #fff;
    position: relative;
    top: 10px;
}

svg path {
    fill: white
}